/* Root */
:root {
    --bg : rgb(226, 238, 255);
    --prm : rgb(1, 168, 190);
    --scd : blue;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins',sans-serif;
    color: var(--prm);
}

/* Design For mobile */


