:root {
    --bg : white;
    --prm : rgb(0, 209, 164);
    --scd : rgb(0, 38, 63);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*  Navbar setting */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7%;
    position: fixed;
    border-bottom: 1px solid var(--scd);
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.541);
    z-index: 9999;
}

div.logo a {
    font-weight: 700;
    font-size: 1.7rem;
    color: var(--prm);
}

header nav {
    display: flex;
}

header nav a {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: var(--scd);
}

header nav a:hover {
    color: var(--prm);
}

header nav a::after {
    content: '';
    display: block;
    border-bottom: 2px solid var(--prm) ;
    transform: scaleX(0);
    transition: 0.3s;
}

header nav a:hover::after {
    transform: scaleX(0.8);
}

div.burger {
    display: none;
}


/* Hero section */
section.hero {
    display: flex;
    height: 100vh;
    padding-top: 4.3rem;
}

section.hero .text {
    width: 50%;
    margin: 10rem 4rem 10rem 10%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

section.hero .text h1 {
    font-size: 3rem;
    text-align: right;
    margin-bottom: 0.2rem;
}

section.hero .text h1 span {
    color: var(--prm);
}

section.hero .text h2 {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-align: right;
}

section.hero .text p {
    font-size: 1rem;
    line-height: 1.7;
    font-size: 1.2rem;
    text-align: right;
}

section.hero .photo {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Media Query ====================================*/
@media (max-width : 1080px){
    html {
        font-size: 85%;
    }
    /* Navbar setting */
    header nav {
        position: absolute;
        right: -100%;
        top: 0;
        background-color: var(--bg);
        width: 20rem;
        display: flex;
        box-shadow: -2px 10px 1rem rgba(0, 0, 0, 0.329) ;
        flex-direction: column;
        margin-top: 4.8rem;
        padding-top: 1rem;
        transition: 0.5s;
    }

    header nav a {
        display: block;
        width: 11rem;
        font-size: 1.3rem;
        margin: 1rem;
        background-color: rgba(127, 255, 212, 0.205);
    }

    header div.burger {
        display: inline;
        cursor: pointer;
    }

    header div.burger span {
        height: 3px;
        width: 24px;
        margin: 5px;
        background-color: var(--scd);
        display: block;
        transition: 0.5s;
    }

    header div.burger.active span {
        background-color: var(--prm);
    }

    header div.burger.active span:nth-child(1) {
        rotate: 45deg;
        transform-origin: top left;

    }

    header div.burger.active span:nth-child(2) {
        scale: 0;
    }

    header div.burger.active span:nth-child(3) {
        rotate: -45deg;
        transform-origin: bottom left;
    }

    header nav.active {
        right: 0;
    }

}

@media (max-width : 720px){
    html {
        font-size: 80%;
    }
}

@media (max-width : 480px){
    html {
        font-size: 80%;
    }
    header nav {
        width: 60%;
    }
}
