/* Root */
:root {
    --bg : rgb(226, 238, 255);
    --prm : rgb(1, 168, 190);
    --scd : rgb(0, 0, 39);
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins',sans-serif;
    color: var(--prm);
}

/* Design For mobile */
@media(max-width:480px) {
    /*-------------------- Navbar start */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 1px -2px 0.4rem black;
        position: fixed;
        background-color: var(--bg);
        left: 0;
        top: 0;
        right: 0;
        z-index: 9999;
    }

    header a.logo {
        font-size: 1rem;
        font-weight: 800;
        color: var(--scd);
        margin:0.8rem 7%;

    }

    header nav {
        display: flex;
        position: absolute;
        top: 100%;
        background-color: var(--bg);
        width: 100%;
        justify-content: space-evenly;
        flex-wrap: wrap;
        right: -100%;
        transition: 0.3s;
        box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.356);
    }

    header nav.active {
        right: 0;
    }

    header nav a {
        padding: 0.5rem;
        margin: 1rem 0.1rem;
        border-radius: 1rem;
        color: var(--scd);
        font-size: 0.8rem;
    }

    header nav a:hover {
        color: var(--prm);
    }

    header nav a::after {
        transition: 0.3s;
        content: "";
        display: block;
        border-bottom: 3px solid var(--prm);
        transform: scaleX(0);
    }

    header nav a:hover::after {
        transform: scaleX(90%);
    }

    header div#burger {
        display: flex;
        flex-direction: column;
        margin-right: 7%;
    } 

    header div#burger span {
        height: 3px;
        width: 27px;
        margin: 3px;
        background-color: var(--scd);
    }

    /* Navbar end */

    /* Hero section start ------------------------ */
    section.hero {
        padding: 9rem 7% 1rem;
    }

    section.hero .text h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    section.hero .text h1 span {
        color: var(--scd);
    }

    section.hero .text h2 {
        font-size: 1.2rem;
        font-weight: 400;
        margin: 1rem 0 0;
    }

    section.hero .text h2 span {
        font-weight: 700;
    }

    section.hero .text p {
        font-size: 0.8rem;
        color: var(--scd);
        text-align: justify;
    }    

    section.hero .text img {
        width: 100%;
        margin-bottom: 1rem;
    }

    section.hero .photo {
        display: none;
    }
    /* Hero section end */

    /* About section start */
    section.about {
        padding: 5rem 7%;
        display: flex;
        flex-direction: column;
    }

    section.about .text-about1 h1 {
        font-size: 1.4rem;
        margin-bottom: 1rem;
    }

    section.about .text-about1 h1 span {
        color: var(--scd);
    }

    section.about .text-about1 p {
        color: var(--scd);
        text-align: justify;
        font-size: 0.8rem;
        margin-bottom: 1rem;
    }

    section.about .text-about1 h2 {
        font-size: 1rem;
        color: var(--scd);
        text-align: center;
        margin-bottom: 0.5rem;
    }

    section.about .text-about1 .socmed {
        height: fit-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin-bottom: 2rem;
    }

    section.about .text-about1 .socmed a {
        margin: 1rem;
    }

    section.about .text-about1 .socmed a svg {
        transition: 0.5s;
        fill: rgba(0, 0, 0, 0.705);
    }
    
    section.about .text-about1 .socmed a svg:hover {
        scale: 1.3;
        transition: 0.5s;
    }

    section.about .text-about1 .socmed a.fb svg:hover {
        fill: #1877F2;
    }
    section.about .text-about1 .socmed a.ig svg:hover {
        fill: #BD00A4;
    }
    section.about .text-about1 .socmed a.wa svg:hover {
        fill: #25D366;
    }
    section.about .text-about1 .socmed a.tg svg:hover {
        fill: #26A5E4;
    }
    section.about .text-about1 .socmed a.gh svg:hover {
        fill: #181717;
    }

    section.about .text-about2 h1 {
        font-size: 1.2rem;
        color: var(--scd);
        margin-bottom: 1rem;
    }

    section.about .text-about2 h1 span {
        color: var(--prm);
        font-weight: 400;
    }

    section.about .text-about2 p {
        color: var(--scd);
        text-align: justify;
        font-size: 0.8rem;
    }
}